Package: voxl-cross-provides
Version: 0.0.1
Section: base
Priority: optional
Architecture: arm64
Provides: cci-direct-support
Maintainer: james@modalai.com
Description: dummy meta package provides other packages to amke apt happy when installing build dependencies
